#main-section{
    display: flex;
}

#diagram-section{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#diagram-section > *{
    margin: 8px;
    padding: 8px;
}

#celonis-process-diagram{
    border: 1px solid red;    
    flex-grow: 1;
}

#celonis-process-diagram-event-log{
    width: 100%;
}